.gallery-img {
    width: 100%;
    height: 220px; /* istersen 200-260 arasý deðiþtir */
    object-fit: cover; /* kýrp ama oraný bozma */
    border-radius: 12px;
    cursor: pointer;
    display: block;
}

    .gallery-img:hover {
        transform: scale(1.02);
        transition: transform .2s ease;
    }
